.footer-container {
  background-color: $light;
  padding: 4rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr 1fr;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $dark;
}

.subscription h3{
  color: $dark-light;
  font-weight: 100;
}


.subscription > p {
  font-family: $paragraphs;
  font-size: 2rem;
  font-weight: 100;
}

.subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.input {
  padding: 8px 24px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 18px;
  border: 1px solid $dark;
  width: 350px;
}

.footer-links {
  width: 100%;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-link-items1,
.footer-link-items2,
.footer-link-items3,
.footer-link-items4 {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  border-right: 1px solid;
}

.footer-link-items1 > a,
.footer-link-items2 > a,
.footer-link-items3 > a,
.footer-link-items4 > h2 {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 12px;
  color: $dark;
  font-weight: bold;
}

.footer-link-items4 > h2 {
  text-align: left;
}

.footer-link-items a {
  color: $light;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: $light;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: $dark-light;
}

.social-icon-link {
  color: $dark;
  font-size: 24px;
  margin-right: 10px;
}

.social-media {
  grid-column: 1/6;
  display: grid;
  grid-row: 2/3;
}

.social-media-wrap {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.certified-icons {
  padding: 1rem;
}

.social-icons {
  width: 240px;
}

.social-logo {
  color: $dark;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  align-self: center;
  grid-column: 5/6;
  justify-self: center;
}

.website-rights {
  color: #242424;
  align-items: center;
  grid-column: 1/2;
  display: flex;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
