$light: #fff;
$dark: #242424;
$dark-light: #b1b1b1;
$variant: red;
$variant2: blue;
$variant3: green;


$font-base: 'PT Sans', sans-serif;
$paragraphs: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;